[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/jamsjz/nvim
[submodule "books"]
	path = books
	url = https://github.com/jamsjz/books
[submodule "mydocs"]
	path = mydocs
	url = https://github.com/jamsjz/mydocs
